
body {
	font-family: 'Lato', sans-serif; font-weight: 400;
}

/** Header **/
nav {
	background: #11aac5;
	height: 60px;
}
img.logo {
	padding:0 .8em;
	width:160px;
	display: inline-block;
}
ul.nav {
	display: inline-block;
}
ul.nav li {
	list-style: none;
	//float: left;
	//border: 1px solid black;
	display: inline-block;
	position: relative;
	text-align: center;
	padding:1.4em 2em;
}
ul.nav li:hover {
	background: #1086a1;
	cursor: pointer;
	color: white;
}

/** Typography **/

h1, h2, h3, h4 {
	font-family: ‘Lato’, sans-serif; font-weight: 100;
	padding: 0;
	margin-bottom: 5px;
}

h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
	font-weight:300;
}
h3 {
	font-size:1.5em;
}
subtitle {
	background: #efefef;
	padding:.3em;
	margin:.5em 0;
	display: block;
}

/** Buttons **/
.btn-join {
	width: 100%;
	font-size:2em;
	padding:.4em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	background: #11aac5;
	color: white;
	font-weight: 100;
}
.btn-join:hover {
	box-shadow: none;
	position: relative;
	top: 1px;
	left:1px;
};
.btn-start {
	font-size:2em;
	padding:.4em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	background: #1086a1;
	color: white;
	font-weight: 100;
}
.btn-login {
	font-size:1.5em;
	padding:.4em 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	background: #1086a1;
	//color: white;
	font-weight: 300;
	text-transform: uppercase;
	background: white;
	border: none;
}


/** Functional **/
ul, ol {
	margin-bottom: 0 0 0 25px !important;
}

img {
	//position: absolute;
	max-width: 100% !important;
	height: auto;
	width: auto\9; /* ie8 */
}