.issue.card {
        width: 200px;
	height: 220px;
        float: left;
}
.issue.card h2 {
        font-size: 1.2em;
}
.issue.card .photo.frame {
	height: 100px;
	overflow: hidden;
}
.issue.card img.photo {
        top: 0;
        left: 0;
        width: 200px;
}

